%h1.general-title-margin
  = t('.checkout')
%ul.steps.list-inline
  - Order.statuses.each do |key, value|
    - if key != Order.statuses.keys.first && value <= Order.statuses[:complete]
      %li.step{ class: "#{'active' if value <= Order.statuses[params[:step]]}" }
        %span.step-number
          = value
        %span.step-text.hidden-xs
          = key.capitalize
      - if value < Order.statuses[:complete]
        %li.step-divider