.mb-80
  %h3.in-gold-500.mb-25
    =t('.reviews_number', number: @reviews.size)
  - @reviews.each do |review|
    .general-message-wrap.divider-lg
      .clearfix
        %span.img-circle.logo-size.inlide-block.pull-left.logo-empty 
          = review.reviewer_name.first
        .ml-70
        %div
          .general-message-date.hidden-xs 
            = localize(review.created_at, format: t('.creation_date'))
          .max-240
            -# .general-message-verified.pull-right Verified Reviewer
            .general-message-name
              = review.reviewer_name
        .mb-15
          - Constants::MAX_RATING.times do |i|
            - if i <= review.rating
              %i.fa.fa-star.rate-star
            - else
              %i.fa.fa-star.rate-star.rate-empty
        %p
          = review.text